
:root {
	--background: #111111;
	--background-navbar: #111111;
	--background-button: #333333;
	--background-button-hover: #444444;
	--background-button-active: #6666ff;
	--background-button-active-hover: #4d4dff;
	--background-container: #1e1e1e;
	--background-box: #2a2a2a;
	--text: #dddddd;
	--text-hover: #6666ff;
	--input-text: #dddddd;
	--input-text-placeholder: #808080;
}

body {
	background: var(--background);
	color: var(--text);
	font-family: Arial;
	margin: 0;
	padding: 0;
}

.navbar {
	height: 32px;
	background: var(--background-navbar);
	justify-content: left;
	display: flex;
	padding: 8px;
	gap: 8px;
}

.button {
	border: none;
	border-radius: 4px;
	background: var(--background-button);
	color: var(--text);
	padding: 8px;
	cursor: pointer;
}

.button:hover {
	background: var(--background-button-hover);
}

.button.active {
	background: var(--background-button-active);
}

.button.active:hover {
	background: var(--background-button-active-hover);

}

.container {
	padding: 8px;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(128px, 1fr));
	gap: 8px;
	background: var(--background-container);
}

.settings-container {
	width: 100%;
	box-sizing: border-box;
	display: block;
}

.setting {
	width: 100%;
}

.setting p {
	width: 100%;
	margin: 4px;
	font-weight: bold;
}

.setting input {
	width: 100%;
	height: 32px;
	border: none;
	border-radius: 4px;
	padding: 4px;
	box-sizing: border-box;
	margin-bottom: 16px;
	background: var(--background-box);
	color: var(--input-text);
	border: 1px solid var(--input-text-placeholder);

}

.setting input:focus {
	outline-color: var(--background-button-active);
	outline-width: 4px;
	outline-offset: 0px;
	box-shadow: none;
}

.setting input::placeholder {
	color: var(--input-text-placeholder);
}

.box {
	background: var(--background-box);
	border-radius: 8px;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 8px;
}

.box img {
	width: 100%;
	aspect-ratio: 1 / 1;
	object-fit: cover;
	border-radius: 4px;
}

.box a {
	color: var(--text);
	text-align: center;
	margin-top: 8px;
	margin-bottom: 0px;
	font-weight: bold;
	text-decoration: none;
}

.box a:hover {
	color: var(--text-hover);
}
