:root {
	--background: #111111;
	--background-navbar: #111111;
	--background-button: #333333;
	--background-button-hover: #444444;
	--background-button-active: #6666ff;
	--background-button-active-hover: #4d4dff;
	--background-container: #1e1e1e;
	--background-box: #2a2a2a;
	--text: #dddddd;
	--text-hover: #6666ff;
}

body {
	background: var(--background);
	color: var(--text);
	font-family: Arial;
	margin: 0;
	padding: 0;
}

.navbar {
	height: 32px;
	background: var(--background-navbar);
	justify-content: left;
	display: flex;
	padding: 8px;
	gap: 8px;
}

.navbar-button {
	border: none;
	border-radius: 4px;
	background: var(--background-button);
	color: var(--text);
	padding: 8px;
	cursor: pointer;
}

.navbar-button:hover {
	background: var(--background-button-hover);
}

.navbar-button.active {
	background: var(--background-button-active);
}

.navbar-button.active:hover {
	background: var(--background-button-active-hover);

}

.container {
	padding: 8px;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(128px, 1fr));
	gap: 8px;
	background: var(--background-container);
}

.box {
	background: var(--background-box);
	border-radius: 8px;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 8px;
}

.box img {
	width: 100%;
	aspect-ratio: 1 / 1;
	object-fit: cover;
	border-radius: 4px;
}

.box a {
	color: var(--text);
	text-align: center;
	margin-top: 8px;
	margin-bottom: 0px;
	font-weight: bold;
	text-decoration: none;
}

.box a:hover {
	color: var(--text-hover);
}
